body{
    background-color:Navy;
    box-sizing: border-box;
}

.box1{
    width: 320px;
    height: 497px;
    background-color: white;
    border-radius: 10px;
    margin-top: 152px;
}
.box2{
    width: 288px;
    height: 288px;
    background-color: #1F314F;
    border-radius: 10px;
}
.image{
    margin: 65px;
}

.text1{
    font-size: 22px;
    color: #1F314F;
    font-weight: 700;
}

.text2{
    font-size: 15px;
    font-weight: 400;
    color: #7D889E;
}